<body>
<div id="calculadora">
    <div id="display">{{ display }}</div>
    <button  class="btn bluey " id="retr" (click)="click_calculadora($event)">Retr</button>
    <button class="btn bluey " id="CE" (click)="click_calculadora($event)">CE</button>
    <button class="btn bluey " id="C" (click)="click_calculadora($event)">C</button>
    <div id="fila1">
      <button class="btn  numero" (click)="click_calculadora($event)">7</button>
      <button class="btn  numero" (click)="click_calculadora($event)">8</button>
      <button class="btn  numero" (click)="click_calculadora($event)">9</button>
      <button class="operador" (click)="click_calculadora($event)">/</button>
      <button class="operador" (click)="click_calculadora($event)">Raiz</button>
    </div>
    <div id="fila2">
      <button class="btn  numero" (click)="click_calculadora($event)">4</button>
      <button class="btn  numero" (click)="click_calculadora($event)">5</button>
      <button class="btn  numero" (click)="click_calculadora($event)">6</button>
      <button class="operador" (click)="click_calculadora($event)">*</button>
      <button class="operador" (click)="click_calculadora($event)">%</button>
    </div>
    <div id="fila3">
      <button class="btn  numero" (click)="click_calculadora($event)">1</button>
      <button class="btn  numero" (click)="click_calculadora($event)">2</button>
      <button class="btn  numero" (click)="click_calculadora($event)">3</button>
      <button class="operador" (click)="click_calculadora($event)">-</button>
      <button class="operador" (click)="click_calculadora($event)">1/x</button>
    </div>
    <div id="fila4">
      <button class="btn  numero" (click)="click_calculadora($event)">0</button>
      <button class="btn  numero" (click)="click_calculadora($event)">+/-</button>
      <button class="btn  numero" (click)="click_calculadora($event)">.</button>
      <button class="operador" (click)="click_calculadora($event)">+</button>
      <button class="operador" (click)="click_calculadora($event)">=</button>
    </div>
  </div>
</body>
